body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.box-hover {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.box-hover::after {
    content: "";
    inset: 2px;
    position: absolute;
    border-radius: 5px;
}

.box-hover::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 900px;
    background: linear-gradient(
        to right,
        #2d69c2,
        #7a73c7,
        #a97ec9,
        #ce8dc9,
        #eba0ca
    );
    animation: animate 2s linear infinite;
}
.box-hover div {
    z-index: 10;
    border-radius: 10px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box-hover:hover {
    cursor: pointer;
}
body::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        to right,
        #2dc287,
        #3ecda7,
        #5bd7c3,
        #7de0da,
        #a0e8eb
    );
}

body {
    background-image: linear-gradient(
        to right,
        #2d69c2,
        #7a73c7,
        #a97ec9,
        #ce8dc9,
        #eba0ca
    );
}

.logo-hover {
    height: 30px;
    margin: 5px;
}
